.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*///////////////////////Header//////////////////////////*/

.header {
	margin-top: 50px;
	width: 100%;
	z-index: 1;
}

.get_started_btn {
	width: 180px;
	height: 72px;
	background: #ffffff;
	border-radius: 20px;
	border: none;
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: -0.04em;
	color: #5956e9;
	margin-right: 30px;
	border: 2px solid #5956e9;
	z-index: 1;
}

.get_started_btn:hover {
	background: #e6e6ff;
	cursor: pointer;
}

.nav {
	margin: 0 70px;
	display: flex;
	justify-content: space-between;
}

.top_menu {
	display: flex;
	align-items: center;
	font-family: var(--primary-font);
}

.top_menu_item {
	margin: 0 29px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.04em;
	color: #999fae;
	list-style: none;
	border-bottom: 2px solid #fff;
}

.top_menu_item:hover {
	border-bottom: 2px solid #999fae;
	cursor: pointer;
}

.muse_logo {
	margin: 0 29px;
	display: flex;
	font-weight: 600;
	font-size: 28px;
	line-height: 27px;
	letter-spacing: -0.03em;
	color: #292930;
	list-style: none;
	border-bottom: 2px solid #fff;
	cursor: pointer;
}

.muse_logo img {
	margin-right: 12px;
}

.top_menu_arrow {
	margin-left: 10px;
}

.circle_big {
	position: absolute;
	width: 1220px;
	height: 1220px;
	left: 831px;
	top: -98px;
	border-radius: 50%;
	background: #5956e9;
}

.circle_pink {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 70px;
	top: 451px;
	border-radius: 50%;
	background: #fab8c4;
	mix-blend-mode: normal;
}

.circle_yellow {
	position: absolute;
	width: 128px;
	height: 128px;
	left: 664px;
	top: 229px;
	border-radius: 50%;
	background: #ffdc60;
	mix-blend-mode: normal;
}

.headphones_container {
	position: absolute;
	width: 1066px;
	height: 852px;
	left: 469px;
	top: 116px;
}

.header_main {
	margin: 100px 0 0 180px;
	width: 400px;
}

.header_main h1 {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 95px;
	letter-spacing: -0.025em;
	color: #292930;
}

.header_main p {
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #999fae;
	margin-top: 20px;
}

.full_stop_blue {
	color: #5956e9;
}

.header_main .get_started_btn {
	background: #5956e9;
	color: #fff;
	border: none;
}

.header_main .get_started_btn:hover {
	background: #8886ff;
}

.header_main .action {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.header_main .action p {
	font-size: 16px;
	margin: 0;
}

.header_main .action img {
	margin-right: 10px;
}

.scroll_section {
	margin-top: 100px;
	margin-bottom: 100px;
}

.scroll_section p {
	font-size: 16px;
	margin: 0;
	display: flex;
	align-items: center;
}

.scroll_section img {
	margin-right: 10px;
}

/*///////////////////////Main//////////////////////////*/

.main {
	font-family: var(--secondary-font);
	width: 100vw;
	background: #27272e;
	color: #fff;
	padding: 150px 15% 100px 180px;
	overflow: hidden;
	background-image: url("/images/background-vectors.svg");
	background-repeat: no-repeat;
	background-position: -30px 0;
	background-size: 740px;
	position: relative;
}

.main_container {
	display: flex;
}

.shadow_cover {
	width: 469px;
	height: 585px;
	background: linear-gradient(90deg, #27272e 78.53%, rgba(39, 39, 46, 0) 100%);
	position: absolute;
	left: 1px;
	top: 427px;
	z-index: 1;
}

.main_container_left {
	width: 300px;
	/* flex-shrink: 0; */
	z-index: 1;
}

.main_container_left h4 {
	line-height: 36px;
	letter-spacing: -0.025em;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 500px;
	width: 270px;
}

.main_container_left p {
	margin-bottom: 180px;
}

.horizontal_divider {
	height: 1px;
	width: 40px;
	display: inline-block;
	background: #fff;
	margin: 0 40px;
	position: relative;
	top: -4px;
}

.main_container_left button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: #27272e;
	cursor: pointer;
}

.main_container_left button:hover {
	background: #5956e9;
	border: none;
}

.main_container_left button:first-of-type {
	margin-right: 20px;
}

.main_container_left button img {
	position: relative;
	top: 1px;
}

.main_container_right h1 {
	font-size: 80px;
	font-weight: 500;
	line-height: 80px;
	letter-spacing: -0.025em;
	width: 700px;
}

.main_container_right_lead {
	font-family: var(--primary-font);
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	opacity: 0.5;
	margin: 40px 0;
	width: 500px;
}

.carousel_container {
	display: flex;
	position: relative;
}

.carousel_item {
	margin-right: 80px;
	width: 300px;
}

.album_thumbnail {
	filter: drop-shadow(0 15px 15px #1f1f23);
	border-radius: 20px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
}

.album_thumbnail img {
	width: 100%;
}

.album_title {
	width: 300px;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.045em;
	font-weight: 400;
}

.album_artist {
	width: 300px;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.045em;
	color: #e3434f;
}

.album_details {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	opacity: 0.5;
}

.album_find_out_more {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.04em;
	color: #5956e9;
	margin-top: 20px;
}

/*///////////////////////Footer//////////////////////////*/

.footer {
	width: 100vw;
	padding: 100px 180px 40px 180px;
	font-family: var(--primary-font);
}

.footer_container {
	display: flex;
	padding-bottom: 50px;
	border-bottom: 1px solid #e3e6e9;
}

.footer_container ul {
	list-style: none;
}

.footer_container li {
	margin-bottom: 15px;
	cursor: pointer;
}

.footer_container .footer_lead {
	color: #999fae;
	margin-bottom: 50px;
}

.footer_container div {
	width: 25%;
	font-weight: 400;
	letter-spacing: -0.025em;
}

.footer_muse_logo {
	display: flex;
	font-weight: 600;
	font-size: 28px;
	line-height: 27px;
	letter-spacing: -0.03em;
	color: #292930;
	list-style: none;
	border-bottom: 2px solid #fff;
}

.footer_muse_logo img {
	margin-right: 12px;
}

.footer_copyright_container {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	font-size: 14px;
	letter-spacing: -0.025em;
	color: #999fae;
	font-family: var(--secondary-font);
	font-weight: 500;
}

.footer_copyright {
	flex-basis: 50%;
	line-height: 24px;
}

.footer_scroll_container {
	display: flex;
	line-height: 24px;
	cursor: pointer;
}

.footer_scroll_container img {
	margin-right: 10px;
}
